:root{
    --primary-color:#fafaface;
    --secondary-color:#000000;
    --teriary-color:#1c6bb6;
  }
  
  
  * {
    /* box-sizing: border-box; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .navbar-brand {
    color: var(--primary-color) !important;
    padding-top: 2rem !important;
  }
  .btn-info {
    background-color: var(--primary-color) !important;
  }
  .bg-dark {
    background-color: var(--teriary-color) !important;
  }

  body {
    background-color: var(--primary-color);
    color: var(--teriary-color);
    font-family: Helvetica, Arial, sans-serif;
  }


 
  

  

  /* Hero */
  .hero {
    height: 30rem;
    width: 100%;
    margin-bottom: 5rem;
    background-image: url("../images/IMG_0015.jpg");
    background-size: 100%;
    background-position: center;
    display:flex;
    position:relative;

  }
  body section div{
    width: 100%;
  }
 .my-portfolio h2 { 
  position: relative;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}
  

  /* Footer  */

  footer a {
    text-decoration: none;
    color: var(--secondary-color);
    
  }

  footer h1 {
    color: var(--teriary-color);

    margin-left: 4rem;
    font-size: 36px
  }
  
  
  /* body */
  .content-portfolio {
    height:200px;
    width:100%;
  display: flex;

  }

  .body-border {
    font-size: 50px;
    border-bottom: 15px;
    color: var(--tertiary-color);
  }



  /* My Work */

  #run-buddy {
    text-align: center;
    width:50%; height:100%;background-image: url("../images/Screen Shot 2021-10-24 at 10.57.13 PM.png");
  }
  
  section div a {
    font-size:40px;
    text-align: center;
  }
  .no-underline {
    text-decoration: none;
  }

footer {
  background-color: var(--teriary-color);
}

#contact{
  color: var(--primary-color);
}
.opacity-item {
  opacity: 0.75;
}
.carousel-font {
  font: bold;
  color:var(--teriary-color)
}